/app/static/casual/
/app/static/streetwear/
/app/static/sports/
/app/static/formal/
/app/static/Abercrombie/
/app/static/H&M/
/app/static/Zara/
/app/static/tutorials/
/data/
/style_env/
**/*.jpg
**/*.jpeg
**/*.png
**/*.avif
**/*.webp
**/*.gif
**/*.bmp
**/*.tiff